.head{
    background-color:blue;
    height: 150px;
    width: 100%;
}


.card{
    height:350px;
    width: 25%;
    border:1px solid black;
    display:inline-block;
    margin: 30px;
    margin-top:100px;
}
.img{
    height:150px;
    width: 25%; 
}
.btn{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}
.card-btn{
    margin: 20px;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .products img{
    width: 80%;
    
  }
  .header{
    height: 100px;
    background-color: skyblue;
    
  }
  button{
    padding: 10px;
    
  }